# Dependencies
node_modules/
**/node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
serviceAccountKey.json
**/serviceAccountKey.json
*.pem

# Build outputs
dist/
**/dist/
build/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & OS Files
.DS_Store
**/.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary directories
temp/
**/temp/
